<h2>About Me</h2>
<p>{{ site.compass.description }}</p>

<h2>My Works:</h2>
<ul>
  <li><a href="https://cs-pound.haruyuki.moe/">CS Pound Discord Bot</a></li>
  <li><a href="https://vrc.haruyuki.moe/">VRChat Model Texturing Commissions</a></li>
  <li><a href="https://youtube.com/playlist?list=PL3mFG-KfjMnf5PSdDEph5GfsomHE2L_ax&si=dsCoEvFFwb1BIKoy">MikuMikuDance Dance Projects</a></li>
  <li><a href="https://www.youtube.com/@blumewmewVODS/">Twitch Streaming VOD Archive</a></li>
</ul>
<p>Feel free to contact me either through
  <span class="tooltip">
    <a href="#">
      <span class="tooltiptext">blumewmew</span>
      Discord
    </a>
  </span>
 or <a href="https://x.com/blumewmemw">Twitter</a> for anything!</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa-brands fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/haruyuki">GitHub</a>
  </li>
  <li class="main-list-item">
    <i class="fa-brands fa-x-twitter fa-lg main-list-item-icon"></i>
    <a href="https://x.com/blumewmew">X</a>
  </li>
</ul>
